# iOS .gitignore

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata

# User-specific xcuserdata
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Build generated
build/
DerivedData/

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other
*.moved-aside
*.DS_Store
*.swp
*.lock
*~.nib

# Cocoa Pods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/ 